<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Control Asistencia</title>
    <!-- Evitar traducción automática -->
    <meta name="google" content="notranslate">

    <!-- Inclusión de la librería jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- MDB ESSENTIAL -->
    <link rel="stylesheet" href="~/lib/mdbpro/css/mdb.min.css" />
    <!-- MDB PLUGINS -->
    <link rel="stylesheet" href="~/lib/mdbpro/plugins/css/all.min.css" />


    <!-- Configuración básica de la página -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Inclusión de scripts de validación jQuery -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- MDB ESSENTIAL -->
    <script src="~/lib/mdbpro/js/mdb.umd.min.js?v=3"></script>

    <!-- MDB PLUGINS -->
    <script src="~/lib/mdbpro/plugins/js/all.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>