<div id="divContenedorNoCompatible" class="container d-flex flex-column align-items-center py-5" style="display: none;">
    <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="max-width: 600px; width: 100%; border: 2px solid #ff4d4d">
        <div class="card-body text-center">
            <p>
                <i class="fas fa-7x fa-exclamation-triangle text-danger"></i>
            </p>
            <h2 class="mb-3 text-danger">Navegador NO Compatible</h2>
            <p style="font-size: 18px;">
                El Control de Asistencia <strong>solo es compatible con Google Chrome</strong>.
            </p>
        </div>
    </div>
</div>

<!-- CSS de MDBootstrap -->
<link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit/css/mdb.min.css" rel="stylesheet" />

<!-- Iconos de FontAwesome (si aún no lo has agregado) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

<!-- JavaScript de MDBootstrap -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mdb-ui-kit/js/mdb.min.js"></script>
