@* PartialView: _ControlAsistenciaPartial.cshtml *@
@model bool

@if (Model) // Si está en la geocerca
{
    <div id="divControlAsistencia">
        <div id="divControlAsistencia">
            <div class="container d-flex flex-column align-items-center py-5">
                <!-- Tarjeta principal -->
                <div class="card">
                    <!-- Manual de Usuario -->
                    <div class="d-inline-flex justify-content-end">
                        <a href="~/documentos/manual_del_control_de_asistencia.pdf"
                           class="text-secondary fs-4 manual-usuario"
                           target="_blank"
                           rel="noopener noreferrer"
                           data-mdb-toggle="tooltip"
                           title="Manual de Usuario">
                            <i class="far fa-circle-question"></i>
                        </a>
                    </div>

                    <div class="card-body text-center">

                        <!-- Logo -->
                        <div class="text-center mb-3">
                            <img src="~/assets/images/logos/logo-4.png" alt="Logo" class="img-fluid logo">
                        </div>

                        <!-- Título -->
                        <h4 class="text-center mb-3">Control de Asistencia</h4>

                        <div class="mb-3 d-flex align-items-center justify-content-center">
                            <!-- Texto Centro de Servicio -->
                            <i class="fas fa-location-dot text-primary"> </i> <span id="centroServicio" class="fs-5 ms-2"></span>
                        </div>

                        <!-- Video -->
                        <div class="mb-3">
                            <div class="containerVideo">
                                <video id="video" autoplay playsinline muted style="max-width:400px;border-radius:8px;"></video>
                                <canvas id="canvas"></canvas>
                            </div>
                        </div>

                        <!-- Entrada/Salida con Radiobuttons -->
                        <div class="mb-4 text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="entradaSalidaOptions" id="entradaOption" value="entrada">
                                <label class="form-check-label" for="entradaOption">Entrada</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="entradaSalidaOptions" id="salidaOption" value="salida">
                                <label class="form-check-label" for="salidaOption">Salida</label>
                            </div>
                        </div>

                        <!-- Selector de empleado -->
                        <div class="mb-3">
                            <select id="Select_SearchEmpleado" data-mdb-container="#controlAsistenciaContainer" data-mdb-select-init data-mdb-visible-options="5" data-mdb-filter="true" data-mdb-search-placeholder="Buscar..." data-mdb-no-result-text="Sin resultados">
                            </select>
                            <label class="form-label select-label" for="Select_SearchEmpleado" style="margin-left: 0px;">Clave Empleado</label>

                            

                        </div>

                        <!-- Botón -->
                        <button id="Registrar" class="btn btn-success w-100">Registrar</button>

                        <!-- Información de Entrada/Salida -->
                        <div class="mt-4 text-center d-flex justify-content-center gap-3">
                            <span id="horaEntrada" class="badge badge-success p-3">Entrada: </span>
                            <span id="horaSalida" class="badge badge-danger p-3">Salida: </span>
                        </div>

                        <img id="fotoCamara" style="max-width: 300px; display:none"></img>
                        <img id="fotoFTP" style="max-width: 300px; display:none"></img>



                    </div>
                </div>
            </div>
        </div>
    </div>
}


