@{
    Layout = "_Layout";
}

<style>
    body {
        background-color: #f8f9fa; /* Fondo claro para una experiencia limpia */
        font-family: Arial, sans-serif;
    }

    .logo {
        max-width: 300px; /* Tamaño máximo para pantallas grandes */
        width: 100%; /* Asegura que la imagen se ajuste al 100% del contenedor */
        height: auto;
    }

    .card {
        width: 100%;
        max-width: 45rem; /* Aumentamos el tamaño máximo de la tarjeta */
        padding: 2rem;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

 /*    video {
        width: 100%;
        height: auto;
        border-radius: 8px;
    } */
    .containerVideo {
        position: relative;
        display: inline-block;
    }

    video, canvas {
        display: block;
        width: 100%;
        height: auto;
        transform: scaleX(-1);
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }


    .progress {
        height: 25px;
        border-radius: 12px;
        overflow: hidden;
    }

    .progress-bar {
        font-size: 0.9rem;
        line-height: 25px;
    }

    .form-check-label {
        font-size: 1.2rem;
    }

    .form-select {
        font-size: 1.1rem;
        padding: 0.6rem;
        border-radius: 8px;
        border: 1px solid #ccc;
    }

    button {
        font-size: 1.2rem;
        padding: 0.75rem;
        border-radius: 8px;
    }

    .info-text p {
        font-size: 1.1rem;
        margin: 0.5rem 0;
    }

    .container {
        max-width: 1000px; /* Aumentar el ancho máximo del contenedor */
    }

    /* Personaliza los estilos de la descripción secundaria */
    .selectpicker option[data-content] {
        display: block;
    }

    .selectpicker .bs-searchbox input {
        padding-left: 2em;
    }

    .text-muted {
        font-size: 0.9rem;
    }

    .select-option {
        /*Quitar la altura fija a la plantilla de mdb.*/
        height: unset !important;
        min-height: 38px;
        white-space: normal !important;
        text-overflow: unset !important;
        overflow: unset !important;
    }

    .select-option-text {
        padding-top: 3px !important;
    }

    .select-option-secondary-text {
        padding-bottom: 6px !important;
/*         color: #3b71ca90 !important;
 */    }

</style>

<body class="bg-light">

        <div id="divContenedorGps">
            <div class="container d-flex flex-column align-items-center py-5">
                <div class="card">
                    <div class="card-body text-center">
                        <span>Activa los permisos de la Ubicación por favor</span>
                    </div>
                    <div class="container d-flex flex-column align-items-center py-5">
                        <div class="text-start mb-3">
                            <button id="recargarButtonGps" class="btn btn-warning">Permitir Ubicación</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="divContenedorCamara">
            <div class="container d-flex flex-column align-items-center py-5">
                <div class="card">
                    <div class="card-body text-center">
                        <span>Activa los permisos de la Cámara por favor</span>
                    </div>
                    <div class="container d-flex flex-column align-items-center py-5">
                        <div class="text-start mb-3">
                            <button id="recargarButtonCamara" class="btn btn-warning">Permitir Cámara</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="divControlAsistencia">
            <div class="container d-flex flex-column align-items-center py-5">
                <!-- Tarjeta principal -->
                <div class="card">
                    <div class="card-body text-center">
                        <!-- Logo -->
                        <div class="text-center mb-3">
                            <img src="~/assets/images/logos/logo-4.png" alt="Logo" class="img-fluid logo">
                        </div>

                        <!-- Título -->
                        <h4 class="text-center mb-3">Control de Asistencia</h4>

                    <!-- Video -->
                    <div class="mb-3">
                        <div class="containerVideo">
                            <video id="video" autoplay playsinline muted style="max-width:400px;border-radius:8px;"></video>
                            <canvas id="canvas"></canvas>
                        </div>
                    </div>

                        <!-- Entrada/Salida con Radiobuttons -->
                        <div class="mb-4 text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="entradaSalidaOptions" id="entradaOption" value="entrada" checked>
                                <label class="form-check-label" for="entradaOption">Entrada</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="entradaSalidaOptions" id="salidaOption" value="salida">
                                <label class="form-check-label" for="salidaOption">Salida</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <select id="Select_SearchEmpleado" data-mdb-select-init data-mdb-visible-options="5" data-mdb-filter="true" data-mdb-select-all="false" data-mdb-search-placeholder="Buscar..."
                                    data-mdb-no-result-text="Sin resultados" data-mdb-clear-button="true">
                            </select>
                            <label class="form-label select-label" for="Select_SearchEmpleado" style="margin-left: 0px;">Clave Empleado</label>
                        </div>



                    <!-- Botón -->
                    <button id="Registrar" class="btn btn-success w-100">Registrar</button>

                        <!-- Información de Entrada/Salida como botones -->
                        <div class="mt-4 text-center d-flex justify-content-center gap-3">
                            <button type="button" class="btn btn-outline-success">Entrada: 08:35 A.M.</button>
                            <button type="button" class="btn btn-outline-danger">Salida: 16:05 P.M.</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div id="urlSeleccionarDatos" data-action-url="@Url.Action("Control_Asistencia_SeleccionarDatos", "ControlAsistencia")"></div>
    <div id="urlGuardarFoto" data-action-url="@Url.Action("Control_Asistencia_ServidorFTP_GuardarFoto", "ControlAsistencia")"></div>

    <!-- Script -->
    @section Scripts {
        <script src="~/js/ControlAsistencia.js" asp-append-version="true"></script>

    }
</body>

